.container{
    padding: 22px 15px;
    background-color: var(--primary);
}

.title{
    border-radius: 20px;
    padding: 25px 14px;
    text-align: center;
    transition: all .3s ease-in-out;
    animation: blink .6s ease-in-out infinite;
    border: 2px solid var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.title p{
    font-size: 2.5rem;
    font-weight: 600;
}

@keyframes blink {
    0%,100%{
        color:white;
        border-color: white;
    }
    50%{
        color: var(--yellow);
        border-color: var(--yellow);
    }
}