@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary:#AC1E21;
  --yellow:#f9e20a;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.ant-drawer .ant-drawer-content {
  background-color:rgb(255 255 255 / 74%) !important;
}
.ant-drawer .ant-drawer-header{
  padding:3px 0 !important;
}
.anticon{
  font-size: 20px!important;
}
.ant-drawer .ant-drawer-body{
  padding: 0;
}
.ant-drawer-header-title{
  justify-content: end;
}
.ant-drawer-close{
  margin-inline-end: 0!important;
  width: 40px!important;
  height: 40px!important;
}

.ant-drawer-body .ant-menu-light.ant-menu-root.ant-menu-inline{
  background-color: transparent !important;
}