@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary:#AC1E21;
  --yellow:#f9e20a;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;

  --font-myriad-pro: 'MyriadPro', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.ant-drawer .ant-drawer-content {
  background-color:rgb(255 255 255 / 74%) !important;
}
.ant-drawer .ant-drawer-header{
  padding:3px 0 !important;
}
.anticon{
  font-size: 20px!important;
}
.ant-drawer .ant-drawer-body{
  padding: 0;
}
.ant-drawer-header-title{
  justify-content: end;
}
.ant-drawer-close{
  margin-inline-end: 0!important;
  width: 40px!important;
  height: 40px!important;
}

.ant-drawer-body .ant-menu-light.ant-menu-root.ant-menu-inline{
  background-color: transparent !important;
}

.promo-title{
  font-family: var(--font-myriad-pro);
  color: var(--primary);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.fixed-header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 70px !important;
  transition: all 0.3s ease-in-out;
  animation: stuckMoveDown .6s;
}

.big_logo{
  max-height: 140px !important;
}
@keyframes stuckMoveDown {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}
.padding-h{
  width: 100%;
  height: 106px;
}